.vscode/**
.github/**
.vscode-test/**
june-eslint/**
examples/**
example/**
eslint/**
test/**
src/**
test-fixtures/**
forked-repo/**
.gitignore
.git/**
.nvmrc
eslint.config.mjs
jest.config.js
jsconfig.json
pseudo-code.md
release.config.js
repro_eslint9.mjs
vsc-extension-quickstart.md
scripts/**
!scripts/wrangler-local/**
.DS_Store
yarn.lock
bun.lock
bun.lockb
.prettierrc
node_modules/**
*.svg
*.DS_Store
.DS_Store
out/test/**
out/.DS_Store
